In [1]:
import pandas as pd
data_path = 'D:\\codegym\\data\\'
data_name = 'GDPlist.csv'
df = pd.read_csv(data_path + data_name,encoding='windows-1252')
df.head()

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

In [2]:
df.shape

(125, 3)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [5]:
df["GDP (millions of US$)"].max()

15094025

In [6]:
df["GDP (millions of US$)"].min()

10600

In [7]:
df["GDP (millions of US$)"].mode()

0         10600
1         11313
2         12461
3         12655
4         12827
         ...
120     2776324
121     3577031
122     5869471
123     7298147
124    15094025
Name: GDP (millions of US$), Length: 125, dtype: int64

In [8]:
df["GDP (millions of US$)"].median()

96089.0

In [9]:
df["GDP (millions of US$)"].mean()

555427.784

In [17]:
df['Continent'].mode()

0    Europe
Name: Continent, dtype: object

In [26]:
sumGDP = df.groupby(['Continent'])['GDP (millions of US$)'].sum().reset_index().rename(columns = {"GDP (millions of US$)": "Sum of GDP"})
sumGDP

       Continent       Sum
0         Africa   1820811
1           Asia  24425891
2         Europe  19139380
3  North America  18238447
4        Oceania   1662727
5  South America   4141217

In [27]:
averageGDP = df.groupby(['Continent'])['GDP (millions of US$)'].mean().reset_index().rename(columns = {"GDP (millions of US$)": "Average of GDP"})
averageGDP

       Continent  Average of GDP
0         Africa    6.278659e+04
1           Asia    6.784970e+05
2         Europe    5.172805e+05
3  North America    1.658041e+06
4        Oceania    5.542423e+05
5  South America    4.601352e+05

In [28]:
data= pd.merge(sumGDP,averageGDP, on='Continent' )
data

       Continent       Sum  Average of GDP
0         Africa   1820811    6.278659e+04
1           Asia  24425891    6.784970e+05
2         Europe  19139380    5.172805e+05
3  North America  18238447    1.658041e+06
4        Oceania   1662727    5.542423e+05
5  South America   4141217    4.601352e+05