In [31]:
import pandas as pd
data=pd.read_csv('D:\codegym\data\GDPlist.csv', encoding = "ISO-8859-1")
data.head()

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

In [32]:
#Thang đo tương ứng của các thuộc tính được lưu trữ
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [33]:
#cot va dong
row = data.shape[0]
column = data.shape[1]
print(f'data co {row} dong, {column} cot ')

data co 125 dong, 3 cot

In [34]:
result = data.groupby('Continent')['Country'].size()
result

Continent
Africa           29
Asia             36
Europe           37
North America    11
Oceania           3
South America     9
Name: Country, dtype: int64

In [35]:
result1 = data.groupby('Continent')['GDP (millions of US$)'].sum()
result1

Continent
Africa            1820811
Asia             24425891
Europe           19139380
North America    18238447
Oceania           1662727
South America     4141217
Name: GDP (millions of US$), dtype: int64

In [36]:
top10GDP= data.sort_values(['GDP (millions of US$)'], ascending = False)
top10GDP.head(10)

             Country      Continent  GDP (millions of US$)
118    United States  North America               15094025
23             China           Asia                7298147
60             Japan           Asia                5869471
44           Germany         Europe                3577031
41            France         Europe                2776324
15            Brazil  South America                2492908
117   United Kingdom         Europe                2417570
58             Italy         Europe                2198730
93            Russia           Asia                1850401
21            Canada  North America                1736869