In [7]:
import pandas as pd
import numpy as np

In [10]:
# Load allocated data to Pandas object
house_df = pd.read_csv("D:\\codegym\\data\house_price.csv")
house_df.head()

,area,price,postDate,land_certificate,house_direction,balcony_direction,toilet,bedroom,floor,lat,long,property_type
0,50.0,14700.0,44197,So do,NaN,NaN,4.0,6.0,6.0,21.015698,105.824583,trong ngo
1,57.0,4200.0,44265,So do,Nam,Nam,3.0,8.0,4.0,21.025208,105.833111,trong ngo
2,62.0,11000.0,44268,So do,NaN,dong-Nam,6.0,5.0,6.0,21.025379,105.801011,trong ngo
3,26.0,2900.0,44292,So do,NaN,NaN,4.0,3.0,4.0,21.014325,105.834918,trong ngo
4,40.0,3950.0,44292,So do,NaN,NaN,NaN,NaN,5.0,21.009862,105.838083,trong ngo

In [4]:
house_df.shape

(671, 12)

In [5]:
house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671 entries, 0 to 670
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   area               665 non-null    float64
 1   price              617 non-null    float64
 2   postDate           671 non-null    datetime64[ns]
 3   land_certificate   369 non-null    object
 4   house_direction    42 non-null     object
 5   balcony_direction  24 non-null     object
 6   toilet             240 non-null    float64
 7   bedroom            320 non-null    float64
 8   floor              366 non-null    float64
 9   lat                671 non-null    int64
 10  long               671 non-null    int64
 11  property_type      671 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(2), object(4)
memory usage: 63.0+ KB

In [ ]:
house_df.loc['']

In [ ]:
#data kg có dữ liệu liên quan